html {
  --orchid-color-green-050: #eff8e6;
  --orchid-color-green-100: #d6ecbf;
  --orchid-color-green-200: #b1db86;
  --orchid-color-green-300: #86c745;
  --orchid-color-green-400: #5ab200;
  --orchid-color-green-500: #428300;
  --orchid-color-green-600: #2f5d00;
  --orchid-color-green-700: #214100;
  --orchid-color-green-800: #152a00;
  --orchid-color-green-900: #0d1900;
  --orchid-color-orange-050: #fff1e3;
  --orchid-color-orange-100: #ffd9b4;
  --orchid-color-orange-200: #ffb770;
  --orchid-color-orange-300: #ff9022;
  --orchid-color-orange-400: #df6f00;
  --orchid-color-orange-500: #a35100;
  --orchid-color-orange-600: #743a00;
  --orchid-color-orange-700: #512800;
  --orchid-color-orange-800: #351a00;
  --orchid-color-orange-900: #1f1000;
  --orchid-color-purple-050: #ffecfc;
  --orchid-color-purple-100: #edd8ea;
  --orchid-color-purple-200: #d2bdcf;
  --orchid-color-purple-300: #b29daf;
  --orchid-color-purple-400: #917c8e;
  --orchid-color-purple-500: #6e596b;
  --orchid-color-purple-600: #513c4e;
  --orchid-color-purple-700: #3d283a;
  --orchid-color-purple-800: #2c1729;
  --orchid-color-purple-900: #1f0a1c;
  --orchid-color-red-050: #ffefee;
  --orchid-color-red-100: #ffd4d2;
  --orchid-color-red-200: #fdaeaa;
  --orchid-color-red-300: #f8847e;
  --orchid-color-red-400: #f15c54;
  --orchid-color-red-500: #e73026;
  --orchid-color-red-600: #c21b17;
  --orchid-color-red-700: #920800;
  --orchid-color-red-800: #5a0905;
  --orchid-color-red-900: #380300;
  --orchid-color-teal-050: #e7f9f6;
  --orchid-color-teal-100: #c2efe7;
  --orchid-color-teal-200: #8be0d1;
  --orchid-color-teal-300: #4dcfb7;
  --orchid-color-teal-400: #0abd9d;
  --orchid-color-teal-500: #008f75;
  --orchid-color-teal-600: #006553;
  --orchid-color-teal-700: #00473a;
  --orchid-color-teal-800: #002e2c;
  --orchid-color-teal-900: #001b16;
  --orchid-color-yellow-050: #fff4d2;
  --orchid-color-yellow-100: #ffe284;
  --orchid-color-yellow-200: #edc74b;
  --orchid-color-yellow-300: #cda72b;
  --orchid-color-yellow-400: #ac860a;
  --orchid-color-yellow-500: #816300;
  --orchid-color-yellow-600: #5b4600;
  --orchid-color-yellow-700: #403100;
  --orchid-color-yellow-800: #2a2000;
  --orchid-color-yellow-900: #191300;
  --orchid-color-black: #000000;
  --orchid-color-grey-050: #f2f2f2;
  --orchid-color-grey-100: #e6e6e6;
  --orchid-color-grey-200: #cccccc;
  --orchid-color-grey-300: #a8a8a8;
  --orchid-color-grey-400: #8c8c8c;
  --orchid-color-grey-500: #707070;
  --orchid-color-grey-600: #525252;
  --orchid-color-grey-700: #3b3b3b;
  --orchid-color-grey-800: #262626;
  --orchid-color-grey-900: #1a1a1a;
  --orchid-color-white: #ffffff;
  --orchid-color-surface-dark: hsl(0 0 32% / 0.25);
  --orchid-color-surface-light: hsl(0 0 95% / 0.25);
}